<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Cursos Web</title>
</head>

<body>

  <header>
    <header class="header container">
      <div >
          <a href="index.html">
              <img class="header__logo" src="../img/Logo1.png" alt="logo">
          </a>  
      </div>

      <nav class="nav">
          <a href="#" class="nav__link ">Crear Grupo</a>
          <a href="#" class="nav__link">Iniciar Sesión</a>
          <a href="#" class="nav__link">Registrarse</a>
      </nav>
  </header>
 
  <section class="hero">

      <h1 class="hero__text">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
      <a href="#" class="hero__link">Obtener una cuenta</a>

  </section>

  <section class="busqueda">
      <h2 class="busqueda__heading">Busca tu curso de preferencia</h2>
      <div class="container">
          <form class="formulario">
              <select class="formulario__campo">
                  <option >Programación</option>
                  <option >Diseño</option>
                  <option >Negocios</option>
                  <option >Emprendimiento</option>
                  <option >Marketing</option>
              </select>
              <input type="text" class="formulario__campo" placeholder="Nombre del curso">
              <input type="text" class="formulario__campo" placeholder="Idioma">
              <input type="submit" class="formulario__submit" value="Buscar">
          </form>
      </div>
  </section>

  </section>

  <main class="container">
    <h2 class="heading">Los mejores cursos de Desarrollo Web</h2>
    <div class="course container">
      <img class="course__image" src="../img/course.png" alt="">
      <div class="course__content">
        <div class="calificacion">
         <img class="course__star" src="../img/star.png" alt="calificacion">
        <p class="course__points">(5,5)</p>
      </div>
      <h3 class="heading__course">JS Course</h3>
      <p class="course__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis porro, debitis at numquam perspiciatis provident.</p>
      <div class="aa">
        <button class="course__button" type="button"">Conseguir</button>
      </div>
      
      </div>
      
    </div>
  </main>

  <footer class="footer">
    <div>
      <a href="">
        <img class="footer__logo" src="../img/Logo2.png" alt="">
      </a>
    </div>
    <div class="footer__nav">
      <a class="footer__link" href="#">Inicio</a>
      <a class="footer__link" href="#">Cursos</a>
    </div>



  </footer>

  <div class="footer__bg">
    <p class="footer__text">Todos los derechos reservados &copy;</p>
  </div>

</body>

</html>